{% extends 'header.html' %}
{% block content %}

        <!-- main-area -->
        <main>

            <!-- breadcrumb-area -->
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="breadcrumb-wrap">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Shop</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shop-area shop-inner-page pt-100 pb-100">
                <div class="container">
                    <div class="row justify-content-center">
                        <!-- <div class="col-3 order-2 order-lg-0">
                            <aside class="shop-sidebar">
                                <div class="widget">
                                    <div class="sidebar-search">
                                        <form action="#">
                                            <input type="text" placeholder="Search ...">
                                            <button type="submit"><i class="fa fa-search"></i></button>
                                        </form>
                                    </div>
                                </div> -->
                                
                                <!-- <div class="widget">
                                    <h4 class="sidebar-title">Top Brand</h4>
                                    <div class="shop-brand-list">
                                        <ul>
                                            <li><a href="shop.html">Medication</a></li>
                                            <li><a href="shop.html">Carnation</a></li>
                                            <li><a href="shop.html">Suppke</a></li>
                                            <li><a href="shop.html">WeBeyond</a></li>
                                            <li><a href="shop.html">Edstudy</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="widget">
                                    <h4 class="sidebar-title">Filter by Price</h4>
                                    <div class="price_filter">
                                        <div id="slider-range"></div>
                                        <div class="price_slider_amount">
                                            <span>Price :</span>
                                            <input type="text" id="amount" name="price" placeholder="Add Your Price" />
                                            <input type="submit" class="btn" value="Filter">
                                        </div>
                                    </div>
                                </div>
                                <div class="widget shop-widget-banner">
                                    <a href="shop.html"><img src="{{ url_for('static', filename='img/products/shop_add.jpg') }}" alt=""></a>
                                </div> -->
                            <!-- </aside>
                        </div> -->
                        <div class="col-9">
                            <div class="shop-wrap">
                                <h4 class="title">Shop</h4>
                                <div class="shop-page-meta mb-30">
                                    <div class="shop-grid-menu">
                                        <ul>
                                            <li class="active"><a href="#"><i class="fas fa-th"></i></a></li>
                                            <li><a href="#"><i class="fas fa-list"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="shop-showing-result">
                                        <p>Total Items 1-12 of 13</p>
                                    </div>
                                    <div class="shop-show-list">
                                        <form action="#">
                                            <label for="show">Show</label>
                                            <select id="show" class="selected">
                                                <option value="">08</option>
                                                <option value="">12</option>
                                                <option value="">16</option>
                                                <option value="">18</option>
                                                <option value="">20</option>
                                            </select>
                                        </form>
                                    </div>
                                    <div class="shop-short-by">
                                        <form action="#">
                                            <label for="shortBy">Sort By</label>
                                            <select id="shortBy" class="selected">
                                                <option value="">Sort by latest</option>
                                                <option value="">Low to high</option>
                                                <option value="">High to low</option>
                                                <option value="">Popularity</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    {% for produst_list in produst_lists %}
                                    <div class="col">
                                        
                                        <div class="shop-item mb-45">
                                            
                                            <div class="shop-thumb">
                                                <a href="{{ 'shop-detail/' }}{{produst_list[0]}}"><img src="{{ url_for('static', filename='img/products/shop_img01.jpg') }}" alt=""></a>
                                            </div>
                                            <div class="shop-content">
                                                <span class="cat">Sanitizers</span>
                                                <h5 class="title"><a href="#">{{produst_list[1]}}</a></h5>
                                                <div class="shop-item-rating">
                                                    <span class="avg-rating"> 3.2 <i class="far fa-star"></i></span>
                                                    <span class="total-rating">349 Ratings</span>
                                                </div>
                                                <div class="shop-bottom">
                                                    <ul>
                                                        <li class="price">{{produst_list[3]}}</li>
                                                        <li class="add"><a href="{{ 'shop-detail/' }}{{produst_list[0]}}">ADD +</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="shop-page-meta">
                                    <div class="shop-grid-menu">
                                        <ul>
                                            <li class="active"><a href="#"><i class="fas fa-th"></i></a></li>
                                            <li><a href="#"><i class="fas fa-list"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="shop-showing-result">
                                        <p>Total Items 1-12 of 13</p>
                                    </div>
                                    <div class="shop-show-list">
                                        <form action="#">
                                            <label for="bottomShow">Show</label>
                                            <select id="bottomShow" class="selected">
                                                <option value="">08</option>
                                                <option value="">12</option>
                                                <option value="">16</option>
                                                <option value="">18</option>
                                                <option value="">20</option>
                                            </select>
                                        </form>
                                    </div>
                                    <div class="shop-pagination">
                                        <ul>
                                            <li class="active"><a href="shop.html">1</a></li>
                                            <li><a href="shop.html">2</a></li>
                                            <li><a href="shop.html"><i class="fas fa-angle-double-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- shop-area-end -->

            <!-- core-features-area -->
            <section class="core-features-area">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6">
                            <div class="core-features-item mb-30">
                                <div class="core-features-icon">
                                    <img src="{{ url_for('static', filename='img/icon/delivery.png') }}" alt="">
                                </div>
                                <div class="core-features-content">
                                    <h4 class="title">Home Delivery</h4>
                                    <p>Product Delivery is a customer-centric approach to defining.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="core-features-item mb-30">
                                <div class="core-features-icon">
                                    <img src="{{ url_for('static', filename='img/icon/return.png') }}" alt="">
                                </div>
                                <div class="core-features-content">
                                    <h4 class="title">Click and Pick</h4>
                                    <p>Product Delivery is a customer-centric approach to defining.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="core-features-item mb-30">
                                <div class="core-features-icon">
                                    <img src="{{ url_for('static', filename='img/icon/headphone.png') }}" alt="">
                                </div>
                                <div class="core-features-content">
                                    <h4 class="title">Quality Support</h4>
                                    <p>Product Delivery is a customer-centric approach to defining.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- core-features-area-end -->

        </main>
        <!-- main-area-end -->
{% endblock %}